# Ignore Mac system files
.DS_Store
# Ignore build directories
build/
# Ignore VS Code settings
.vscode/
# Ignore Python cache files
__pycache__/
# Ignore lib directory in current directory
lib/
# Ignore all .o files
*.o
# Ignore all .out files
*.out
