# Ignore Mac system files
.DS_Store
# Ignore build directories
build/
# Ignore VS Code settings
.vscode/
# Ignore Python cache files
__pycache__/
# Ignore lib directory in current directory
lib/
# Ignore all output files
*.o
*.out
*.dll
*.so
*.a
*.dylib
# Ignore include directory
include/
